body {
    font-family: nunito !important;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainBody {
    margin: 4rem 1rem !important;
}


.rainbow {
    background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
}

.rainbowTransparent {
    background-image: linear-gradient(90deg, rgba(26, 42, 108, 0.7), rgba(178, 31, 31, 0.7), rgba(253, 187, 45, 0.7));
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 7rem !important;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50% !important;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.vl {
    border-left: 1px solid grey;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.error {
    color: red;
}

.success {
    color: green;
}

.white {
    color: white !important;
}

.smallImage {
    width: 1rem;
    margin-bottom: 3px;
}

.hidden {
    display: none;
}

/* Social Icons */
.about-icons {
    margin: 48px 0px 48px 0px;
}

.about-icons i {
    margin-right: 10px;
    padding: 0px;
    font-size: 35px;
    color: #323232;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.about-icons li {
    margin: 0px;
    padding: 0;
    display: inline-block;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .001s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .001s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .001s;
}
