/* The Close Button */
.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.coinInfo{
    width: initial;
}

.LoaderBalls {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LoaderBalls__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b21f1f;
}

.ball1{
        animation: bouncing 0.4s alternate infinite cubic-bezier(.6, .05, .15, .95);
}
.ball2{
        animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(.6, .05, .15, .95) backwards;
}
.ball3{
        animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(.6, .05, .15, .95) backwards;
}


@keyframes bouncing {

    0% {
        transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    }

    100% {
        transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
    }
}

#balls{
    margin: 0 auto;
    margin-top: 25rem !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}
